<script type="text/x-template" id="annotated-images-component-template">
  <div v-if="modalMode=='image' && showAnnotations" :id="'img-container-'+imgId" class="img-container">
    <img :src="mediaLink" :id="'img-'+imgId" @load="showFrames" class="img"/>
    <canvas v-if="showAnnotations" :id="'img-canvas-'+imgId" class="img-canvas"></canvas>
  </div>

  <div v-if="modalMode=='image' && !showAnnotations">
    <img :src="mediaLink" v-if="!showAnnotations" class="img"/>
  </div>
</script>

<script>
  const visionMediaAnnotatedImages = {
    template: "#annotated-images-component-template",
    props: [
      "modalMode",
      "mediaLink",
      "showAnnotations",
      "stepOutputData",
      "imgId",
    ],
    data() {
      return {
        bboxes: {},
      };
    },
    methods: {
      convertAnnotationsToBboxes(annotations) {
        const bboxes = {};

        for (const category in annotations) {
          for (const id in annotations[category]) {
            const item = annotations[category][id];
            const label = item.label || item.rtype;

            const coords = [...item.coords];
            if (
              item.threshold !== undefined &&
              typeof item.threshold === "number"
            ) {
              coords.push(item.threshold);
            }

            if (!bboxes[label]) {
              bboxes[label] = [];
            }

            bboxes[label].push(coords);
          }
        }

        return bboxes;
      },

      // Create frames
      drawBoundingBox([x, y, width, height], color, labelText) {
        new paper.Path.Rectangle({
          rectangle: new paper.Rectangle(x, y, width, height),
          strokeColor: color,
          strokeWidth: 2,
        });

        if (this.showAnnotations) {
          const label = document.createElement("div");
          label.className = "label";
          label.textContent = labelText;
          label.style.left = `${x - 1}px`;
          label.style.top = `${y - 15}px`;
          label.style.fontSize = `${10}px`;
          label.style.backgroundColor = color;
          document
            .getElementById("img-container-" + this.imgId)
            .appendChild(label);
        }
      },

      // Init frames
      initBoundingBoxes() {
        const img = document.getElementById("img-" + this.imgId);
        const canvas = document.getElementById("img-canvas-" + this.imgId);

        if (!img.complete || img.naturalWidth === 0) {
          return;
        }

        // Remove old labels by img-container-id
        const container = document.getElementById(
          "img-container-" + this.imgId
        );
        container.querySelectorAll(".label").forEach((label) => label.remove());

        // Synchronize size: canvas-image
        canvas.width = img.width;
        canvas.height = img.height;

        paper.setup(canvas);

        // Coordinate scaling
        const scaleX = img.width / img.naturalWidth;
        const scaleY = img.height / img.naturalHeight;

        // Scaling frames
        const categories = [
          { label: "operator", color: "deepskyblue" },
          { label: "person", color: "lightgreen" },
          { label: "Workstation", color: "tomato" },
        ];

        categories.forEach(({ label, color }) => {
          (this.bboxes[label] || []).forEach((box) => {
            let [x, y, width, height] = box.slice(0, 4);

            // If all coordinates are ≤ 1, assume they are normalized
            if (x <= 1 && y <= 1 && width <= 1 && height <= 1) {
              x *= img.width;
              y *= img.height;
              width *= img.width;
              height *= img.height;
            } else {
              // Absolute coordinates: scale according to image scale
              x *= scaleX;
              y *= scaleY;
              width *= scaleX;
              height *= scaleY;
            }

            this.drawBoundingBox([x, y, width, height], color, label);
          });
        });

        paper.view.draw();
      },

      showFrames() {
        this.bboxes = {};
        if (!this.stepOutputData?.annotations && !this.stepOutputData?.bboxes) {
          return;
        }

        if (this.stepOutputData.bboxes) {
          this.bboxes = this.stepOutputData.bboxes;
        }

        if (this.stepOutputData.annotations) {
          this.bboxes = this.convertAnnotationsToBboxes(
            this.stepOutputData.annotations
          );
        }

        this.$nextTick(() => {
          const img = document.getElementById("img-" + this.imgId);
          if (img && this.showAnnotations) {
            img.addEventListener("load", () => {
              this.initBoundingBoxes();
            });

            // If the image is already cached and does not trigger 'load'
            if (img.complete) {
              this.initBoundingBoxes();
            }
          }
        });
      },
    },
  };
</script>

<style scoped>
  .img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .img {
    display: block;
    width: 100%;
    max-width: 1140px;
    height: auto;
  }

  .img-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
  }

  .label {
    position: absolute;
    padding: 0 4px;
    font-family: sans-serif;
    border-radius: 2px;
    z-index: 20;
  }
</style>
